<div class="feature">
<h1 data-text="More features...">More features we had on our mind...</h1>
<div class="opisi">
    <div class="prvi">
        <div class="Naslov">
<p>Connection between countries</p>
</div>
<div class="card-1">
    <span>This project could be connection between countries so visas and similar things would be easier to get. That means that we could implement this application for all countries and all countries would have different interfaces and features depending on country law.</span>
</div>
</div>
<div class="drugi">
    <div class="Naslov">
<p>Reports about money flow</p>
</div>
<div class="card-2">
    <span>In our country we are facing corruption and many similar things so with this app we could provide feature to show all citizens money flow and where money is spend.</span>
</div>
</div>

<div class="treci">
    <div class="Naslov">
<p>"Extraordinary" voting</p>
</div>
<div class="card-3">
    <span>This feature represents model where citizens would be able to vote if they are not satisfied, and if those votes are for example above 50% of all citizens, application would run new elections.</span>
</div>
</div>
</div>

</div>
