<app-side-menu></app-side-menu>
<div class="profile-details-container">
    <div class="profile-details-card">
        <div class="profile-details-filled">
            <form action="" class="filled-first">
                <div class="field">
                    <label>Name:</label>
                    <input type="text" name="name" disabled>
                </div>
                <div class="field">
                    <label>Surname:</label>
                    <input type="text" name="surname" disabled>
                </div>
                <div class="field">
                    <label>Personal ID number:</label>
                    <input type="text" name="id-number" disabled>
                </div>
                <div class="field">
                    <label>City:</label>
                    <input type="text" name="city" disabled>
                </div>
            </form>
            <form action="" class="filled-second">
                <div class="field">
                    <label>Street:</label>
                    <input type="text" name="street" disabled>
                </div>
                <div class="field">
                    <label>Street No:</label>
                    <input type="text" name="street-no" disabled>
                </div>
                <div class="field">
                    <label>Postal code:</label>
                    <input type="text" name="postal-code" disabled>
                </div>
                <div class="field">
                    <label>Username:</label>
                    <input type="text" name="username" disabled>
                </div>
            </form>
        </div>
        <div class="profile-details-change">
            <p>Change password</p>
            <form action="" class="profile-details-changable-form">
                <label>Enter old password:</label>
                <input type="password" name="old-password">
                <label>Enter new password</label>
                <input type="password" name="password">
                <label>Confirm new password</label>
                <input type="password" name="confirmpassword">
            </form>
            <button type="submit">Change</button>
        </div>
    </div>
</div>