<div class="team-" id="team">
    <div class="team-container">
        <div class="card-item one">
            <div class="for-img">
                <div class="img-div">
                    <img src="https://i.ibb.co/wdFMmwr/cataa.jpg" alt="" class="slika">
                </div>
            </div>
            <div class="for-name">
                <p>Tarik Catovic<br/>
                Operations, Developer</p>
            </div>
            <div class="for-description">
                <p><b>From: </b> Vares <br/><b>Faculty: </b> Faculty of information Technologies <br/><b>Year of study: </b> 2nd <br/></p>
            </div>
            <div class="for-media">
                <i class="fa fa-facebook-f" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-github" aria-hidden="true"></i>
            </div>
        </div>
        <div class="card-item two">
            <div class="for-img">
                <img style="width: 100px;height: 100px;" src="https://i.ibb.co/2gNtzLk/ado.png" alt="" class="slika">
            </div>
            <div class="for-name">
                <p>Adnan Kismetovic<br/>
                Team Lead, Developer</p>
            </div>
            <div class="for-description">
                <p><b>From: </b> Buzim <br/><b>Faculty: </b> Faculty of information Technologies <br/><b>Year of study: </b> 2nd <br/></p>
            </div>
            <div class="for-media">
                <i class="fa fa-facebook-f" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-github" aria-hidden="true"></i>
            </div>
        </div>
        <div class="card-item three">
            <div class="for-img">
                <img src="https://i.ibb.co/W2FD6T6/ora.jpg" alt="" class="slika">
            </div>
            <div class="for-name">
                <p>Orhan Bajramovic<br/>
                Designer, Developer</p>
            </div>
            <div class="for-description">
                <p><b>From: </b> Jablanica <br/><b>Faculty: </b> Faculty of information Technologies <br/><b>Year of study: </b> 2nd <br/></p>
            </div>
            <div class="for-media">
                <i class="fa fa-facebook-f" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-github" aria-hidden="true"></i>


            </div>
        </div>
    </div>
</div>