<div class="about-project" id="aboutProject">
    <div class="about-project-container">
       <div class="text">
            <h1>E-Citizen</h1>
            
       
        <div class="paragraph">
            <p>This project is only a prototype of the actual project and it is developed
                only for presentation purposes of the idea.</p>
                <p>For the development of this project we used Angular and a lot of fun.</p>
               <p>The base idea of this project is as the name already says e-country. It's a project to make our lives a lot easier.</p>  
               <p>Everything you need from country and what requires you to wait in line for one, two or even three hours to get something done, 
                which could be done in 1 minute, now it's only a few clicks of job. </p>
                <p> Also, there are many other things we took care of.</p> 
                
           
        </div>
        </div>
<div class="image">
       <ul class="honeycomb">
    <li class="honeycomb-cell">
        <img class="honeycomb-cell_img" src="https://media.istockphoto.com/photos/a-woman-hand-is-searching-data-in-a-folder-on-a-digital-screen-picture-id1283489971?b=1&k=20&m=1283489971&s=170667a&w=0&h=O4Km7o-urWkDsxQIC9Z-D1JgF940Bisb3iJXZRppg1c=">
        
    </li>
    <li class="honeycomb-cell">
        <img class="honeycomb-cell_img" src="https://media.istockphoto.com/photos/document-on-digital-background-picture-id640992824?b=1&k=20&m=640992824&s=170667a&w=0&h=XGejYdSjOkOgkLNcrebpaMCXwU5LxGN2XbWwNyMLyGw=">
        
    </li>
    <li class="honeycomb-cell">
        <img class="honeycomb-cell_img" src="https://media.istockphoto.com/photos/files-and-folders-network-picture-id1133511685?k=20&m=1133511685&s=612x612&w=0&h=LT-_cISG_8vtbLi78sbnGMwdFo4GnTx3uaogDAImg1c=">
        
    </li>
    <li class="honeycomb-cell">
        <img class="honeycomb-cell_img" src="https://media.istockphoto.com/vectors/isometric-vector-of-a-businessman-signing-documents-via-electronic-vector-id1215743625?k=20&m=1215743625&s=612x612&w=0&h=gxIAW0N_GWkn5_4U7rtqy-gZ2X33mpkdvGSBR7KABkI=">
        
    </li>
    
    
   
</ul>
</div>

    </div>
</div>